In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [12]:
train.columns

Index(['id', 'Podcast_Name', 'Episode_Title', 'Episode_Length_minutes',
       'Genre', 'Host_Popularity_percentage', 'Publication_Day',
       'Publication_Time', 'Guest_Popularity_percentage', 'Number_of_Ads',
       'Episode_Sentiment', 'Listening_Time_minutes'],
      dtype='object')

In [13]:
train.select_dtypes(exclude='object').isna().sum()

id                                  0
Episode_Length_minutes          87093
Host_Popularity_percentage          0
Guest_Popularity_percentage    146030
Number_of_Ads                       1
Listening_Time_minutes              0
dtype: int64

In [14]:
len(train.loc[train['Episode_Length_minutes'] < train['Listening_Time_minutes'], "id"])

2568

In [16]:
train['Episode_Title'] = train['Episode_Title'].apply(lambda x: x.split(' ')[1])

In [19]:
train['Episode_Title'] = pd.to_numeric(train['Episode_Title'])

In [20]:
train.groupby(['Number_of_Ads']).agg({
    "Episode_Title" : 'mean',
    "Listening_Time_minutes" : 'mean'
})

               Episode_Title  Listening_Time_minutes
Number_of_Ads
0.00               51.183623               49.073105
1.00               51.480140               47.273397
2.00               51.600192               43.214216
3.00               51.603997               40.237940
12.00              21.000000                6.490000
53.37              83.000000               50.448920
53.42              79.000000               50.448920
103.00             64.000000              103.126860
103.25             44.000000              103.126860
103.75             64.000000              103.126860
103.88             15.000000              103.896960
103.91             15.000000              103.896960

In [23]:
# z-score

train['Number_of_Ads'] = (train['Number_of_Ads'] - train['Number_of_Ads'].mean()) / train['Number_of_Ads'].std()

In [24]:
train.loc[abs(train['Number_of_Ads']) > 3, ["Number_of_Ads", "Listening_Time_minutes"]]

        Number_of_Ads  Listening_Time_minutes
211159      45.191357                50.44892
283606      89.096027               103.89696
436577      88.305500               103.12686
495919      45.234793                50.44892
537705      88.957034               103.12686
567235       9.252770                 6.49000
602553      88.522678               103.12686
672139      88.522678               103.12686
683147      89.069966               103.89696